<div class="panel panel-warning">
    <div class="panel-heading">Compare Two Sets of Concepts</div>
    <div class="panel-body">
        <form ng-submit="compareConceptSets()">
            <div class="form-group">
                <label for="leftCategory">Part of left category name</label>
                <input type="text" id="leftCategory" ng-model='comparison.leftCategory'>
            </div>
            <div class="form-group">
                <label for="rightCategory">Part of right category name</label>
                <input type="text" id="rightCategory" ng-model='comparison.rightCategory'>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="comparison.visualizeDifference"> Visualize comparison in tree structure
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Compare and Download Results</button>
            <!--button type="button" class="btn btn-default">Cancel</button-->
        </form>
    </div>
</div>
<div>
    <form ng-submit="updateHandledBidsInTree()">
        <div class="form-group">
            <label for="alreadyHandledBidsCsv">Already handled BIDs (comma-separated)</label>
            <textarea class="form-control" id="alreadyHandledBidsCsv" rows="3" ng-model='comparison.alreadyHandledBidsCsv' placeholder="IBMB1924,IBMB2221"></textarea>
        </div> 
        <button type="submit" class="btn btn-primary">Mark handled BIDs in tree structure</button>
    </form>
</div>
