<!--col-lg-4 col-md-4 col-sm-12 col-xs-12 -->
<!--div class="panel panel-success">
    <div class="panel-heading">Search results</div>
    <div class="panel-body"-->
        <p>
            <small class="text-muted">
                Found {{filtered.length}} concepts
                &nbsp;&nbsp;&nbsp;&nbsp;
                <!--button type="button" class="btn-link btn-sm pull-right" ng-csv="getCsvData"
                    csv-header="getCsvHeader" filename="concepts.tsv" field-separator="\t" add-bom="true"
                    data-toggle="tooltip" title="Download search result as .tsv" data-placement="top">
                    Download
                    <i class="glyphicon glyphicon-download-alt"></i>
                </button-->
            </small>
        </p>
        <br>
        <div ng-repeat="concept in filtered = (concepts | conceptFilterAndOrder:filter) | limitTo: resultCountLimit track by concept._rid">
            <a href="#concepts/{{concept._rid}}">
                <h3 class="panel-title">
                    <b>{{ concept._name }}</b>
                </h3>
            </a>
            <small>
                <small class="text-muted">
                    <span ng-if="concept.parentCategory">
                        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                        {{getTwoMostInnerLevelsAsString(concept.parentCategory._identity)}}
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span ng-repeat="label in concept.labels.label">
                        <span class="label label-default">{{label._name}}</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span ng-if="concept.customAttributes.customAttributeValue.attributeValue._value">
                        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                        {{concept.customAttributes.customAttributeValue.attributeValue._value}}
                    </span>
                </small>
            </small>
            <i>
                <p ng-bind-html="to_trusted(concept._shortDescription)"></p>
            </i>
            <br>
        </div>
        <div ng-if="filtered.length > resultCountLimit">
            <button type="button" class="btn btn-link" ng-click="increaseResultCountLimit()">Show next {{resultCountIncrement}} results</button>
        </div>
