<h1>
    <span editable-textarea="concept._name"  e-rows="4" e-cols="64" e-form="textBtnForm" onaftersave="updateConceptName(concept,$data)">
    {{ getEnglishPreferredTerm(concept) }}
    </span>
    <small><small>
        <a ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a>
    </small></small>
</h1>
<span>
	<p class="lead" ng-bind-html="to_trusted(getLongestDescription(concept))"></p>
</span>
<br>
<h3>General</h3>
<dl class="dl-horizontal">
    <dt>Identifier <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span></dt>
    <dd class="text-muted">
        {{ concept.customAttributes.customAttributeValue.attributeValue._value }}
    </dd>
    <dt>Category <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></dt>
    <dd>
        {{concept.parentCategory._identity}}
    </dd>
    <dt>Labels <span class="glyphicon glyphicon-tag" aria-hidden="true"></span></dt>
    <dd>
        <span ng-repeat="label in concept.labels.label">
            <span class="label label-default">{{label._name}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </dd>
</dl>
<h3>Related Concepts</h3>
<div ng-if="concept.isATypeOf.termRef != null">
    <p>Superordinate concepts:</p>
    <ul>
        <li ng-repeat="otherConcept in concept.isATypeOf.termRef">
            <a href="#concepts/{{otherConcept._rid}}">{{getTwoMostInnerLevels(otherConcept._identity).inner}}</a> <small class="text-muted">({{getTwoMostInnerLevels(otherConcept._identity).outer}})</small>
        </li>
    </ul>
</div>
<div ng-if="concept.hasTypes.termRef != null">
    <p>Subordinate concepts:</p>
    <ul>
        <li ng-repeat="otherConcept in concept.hasTypes.termRef">
            <a href="#concepts/{{otherConcept._rid}}">{{getTwoMostInnerLevels(otherConcept._identity).inner}}</a> <small class="text-muted">({{getTwoMostInnerLevels(otherConcept._identity).outer}})</small>
        </li>
    </ul>
</div>
<div ng-if="concept.hasA.termRef != null">
    <p>Partitive concepts:</p>
    <ul>
        <li ng-repeat="otherConcept in concept.hasA.termRef">
            <a href="#concepts/{{otherConcept._rid}}">{{getTwoMostInnerLevels(otherConcept._identity).inner}}</a> <small class="text-muted">({{getTwoMostInnerLevels(otherConcept._identity).outer}})</small>
        </li>
    </ul>
</div>
<div ng-if="concept.isOf.termRef != null">
    <p>Comprehensive concepts:</p>
    <ul>
        <li ng-repeat="otherConcept in concept.isOf.termRef">
            <a href="#concepts/{{otherConcept._rid}}">{{getTwoMostInnerLevels(otherConcept._identity).inner}}</a> <small class="text-muted">({{getTwoMostInnerLevels(otherConcept._identity).outer}})</small>
        </li>
    </ul>
</div>
<div ng-if="concept.relatedTerms.termRef != null">
    <p>Other associated concept:</p>
    <ul>
        <li ng-repeat="otherConcept in concept.relatedTerms.termRef">
            <a href="#concepts/{{otherConcept._rid}}">{{getTwoMostInnerLevels(otherConcept._identity).inner}}</a> <small class="text-muted">({{getTwoMostInnerLevels(otherConcept._identity).outer}})</small>
        </li>
    </ul>
</div>