<div class="collapse" id="collapseExample">
	<div class="row">
		<small>
		<div class="column col-md-2">
			<div class="checkbox">
			  <label>
				<input type="checkbox" ng-model="filter.granularities.highLevel">
				High-Level
			  </label>
			</div>
			<div class="checkbox">
			  <label>
				<input type="checkbox" ng-model="filter.granularities.detailed">
				Detailed
			  </label>
			</div>
		</div>
		<div class="column col-md-2">
			<div class="checkbox">
			  <label>
				<input type="checkbox" ng-model="filter.temporalities.inUse">
				{{getTemporalityClassNameByUseIndicator(true)}}
			  </label>
			</div>
			<div class="checkbox">
			  <label>
				<input type="checkbox" ng-model="filter.temporalities.planned">
				{{getTemporalityClassNameByUseIndicator(false)}}
			  </label>
			</div>
		</div>
		<div class="column col-md-4" ng-show="filter.temporalities.planned">
			<!--div class="form-group">
				<label for="branchSelect">Development Branches</label>
			</div-->
			<div class="form-group">
				<label for="developmentBranchSelect">Development Branches</label>
				<div id="developmentBranchSelect"    
					isteven-multi-select
					input-model="allDevelopmentBranches"
					output-model="filter.developmentBranches"
					item-label="name"
					button-label="name"
					tick-property="checked"
					helper-elements="all none filter"
				>
				</div>
			</div>
		</div>
		</small>
	</div>

	<div class="row">
		<hr>
	</div>
</div>