<div class="panel panel-warning">
    <div class="panel-heading">Import Concept System</div>
    <div class="panel-body">
        <form ng-submit="loadConceptSystem()">
            <div class="form-group">
                <label for="conceptSystemFile">File path</label>
                <input type="file" id="conceptSystemFile" file-model='conceptSystem.file'>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </div>
            <div class="form-group">
                <label for="conceptSystemFormat">File format</label>
                <select class="form-control" ng-model="conceptSystem.format">
                    <option value="1">IGC Glossary Format (XML)</option>
                    <!--option value="2">ModelWare m1 Format w/o Relations (JSON)</option-->
                    <option value="3">ModelWare m1 Format w Relations (XML)</option>
                    <option value="4">Glossary Tool Format (JSON)</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="conceptSystem.resetBeforeLoad"> Reset all loaded concepts before load
                </label>
            </div>
            <button type="submit" class="btn btn-primary" button-spinner="conceptSystem.loading">Open</button>
            <!--button type="button" class="btn btn-default">Cancel</button-->
        </form>
    </div>
    </div>
</div>
