<div class="panel panel-warning">
    <div class="panel-heading">Export Concept System</div>
    <div class="panel-body">
        <form ng-submit="exportConceptSystem()">
            <div class="form-group">
                <label for="conceptSystemFormat">File format</label>
                <select class="form-control" ng-model="conceptSystem.format">
                    <option value="1">IGC Glossary Format (XML)</option>
                    <!--option value="2">ModelWare m1 Format w/o Relations (JSON)</option-->
                    <!--option value="3">ModelWare m1 Format w Relations (XML)</option-->
                    <option value="4">Glossary Tool Format (JSON)</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="conceptSystem.includeRid"> Include RID in exported data
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Download Export</button>
        </form>
        </div>
    </div>
</div>