<div class="panel panel-warning">
    <div class="panel-heading">Transform a set of Concepts</div>
    <div class="panel-body">
        <form ng-submit="transformConceptSet()">
            <div class="form-group">
                <label for="category">Part of category name</label>
                <input type="text" id="category" ng-model='transformation.category'>
            </div>
            <div class="form-group">
                <label for="transformationType">Transformation type</label>
                <select class="form-control" ng-model="transformation.type">
                    <option value="1">1. Term names to lower-case</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Transform</button>
            <!--button type="button" class="btn btn-default">Cancel</button-->
        </form>
        </div>
    </div>
</div>