<!doctype html>
<html lang="en" ng-app="glossaryApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Derive Next Glossary</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">

		<script src="https://code.jquery.com/jquery-2.2.1.min.js" type="text/javascript"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
        <!-- sanitize is needed for ngCsv third party lib -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
			crossorigin="anonymous">

		<!--link rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
			integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
			crossorigin="anonymous"-->
			
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
			crossorigin="anonymous"></script>
		
		<!-- For multi-selects of the filter-->
		<!-- ALTERNATIVE 1: http://isteven.github.io/angular-multi-select 
			Older, more graphical tree layout, but without proper tree select-->
        <link rel="stylesheet" href="libs/isteven-multi-select.css">
        <script src="libs/isteven-multi-select.js"></script>
		<!--ALTERNATIVE 2: http://alexandernst.github.io/angular-multi-select-->
		<!--This one needs lokijs, but is more advanced (a fork) from the one above-->
		<!--link rel="stylesheet" crossorigin="anonymous" href="libs/angular-multi-select/angular-multi-select.min.css">
		<script src="libs/angular-multi-select/angular-multi-select.min.js"></script-->
		
		<!-- Third party library (v 0.3.6) for exporting to CSV -->
		<script src="libs/ng-csv.min.js"></script>
		
		<!-- Third party libraries for indicating animating loading button -->
		<script src="libs/angular-button-spinner.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        
        <!-- Third party libraries for managing editable elements -->
        <link href="libs/angular-xeditable/css/xeditable.min.css" rel="stylesheet">
        <script src="libs/angular-xeditable/js/xeditable.min.js"></script>        

        <!-- Third party library (commit 589b6b2) for generating tree view -->
        <script src="libs/ivh-treeview.min.js"></script>
        <link rel="stylesheet" href="libs/ivh-treeview.min.css">
        <link rel="stylesheet" href="libs/ivh-treeview-theme-basic.css">

        <!-- For file import (SHOULD BE REPLACED BY LOCAL LINK!)-->
        <script src='https://rawgit.com/ghostbar/angular-file-model/master/angular-file-model.js'></script>

        <!-- For parsing XML (could maybe be replaced by jquery)
            https://github.com/abdmob/x2js -->
        <script type='text/javascript' src="libs/xml2json.min.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body ng-controller="ConceptsCtrl">
		<div class="container">
			<!-- Static navbar -->
			<nav id="navbar" class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<!--img alt="Brand" src="images/logo-38-38.gif"-->Glossary Tool
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="nav navbar-nav">
							<form class="navbar-form" role="search">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search" ng-model="filter.searchPhrase">
									<span class="input-group-btn">
										<a class="btn btn-default" type="button" href="#concepts"><i class="glyphicon glyphicon-search"></i></a>
									</span>
								</div><!-- /input-group -->
							</form>
						</div>
					</div>
                    
				</div><!--/.container-fluid -->

			</nav>
			<div id="filter-bar" ng-include="'partials/filter-bar.html'" class="container-fluid">
			</div>
			<div id="main" class="container-fluid">
                <div class="row">
                    <div class="col-md-6 hidden-sm hidden-xs">
                        <div class="panel panel-primary">
                            <!--div class="panel-heading">Navigation</div-->
                            <div class="panel-body">
                                <div ng-if="conceptTrees != null && conceptTrees.length > 0" style="max-height:600px;overflow-y:auto">
                                    <div ivh-treeview="conceptTrees"
                                         ivh-treeview-use-checkboxes="false"
                                         ivh-treeview-expand-to-depth="0">
                                        <script type="text/ng-template">
                                            <div title="{{trvw.label(node)}}">
                                                <span ivh-treeview-toggle>
                                                    <span ivh-treeview-twistie>

                                                    </span>
                                                </span>
                                                <span class="ivh-treeview-node-label" ivh-treeview-toggle>
                                                    <s ng-show="node.alreadyHandled == true">
                                                        <a href="#concepts/{{node._rid}}">
                                                            <span ng-hide="trvw.isSelected(node) == true">{{trvw.label(node)}}</span>
                                                            <span ng-show="trvw.isSelected(node) == true"><mark>{{trvw.label(node)}}</mark></span>
                                                        </a>
                                                    </s>
                                                    <span ng-hide="node.alreadyHandled == true">
                                                        <a  href="#concepts/{{node._rid}}">
                                                            <span ng-hide="trvw.isSelected(node) == true">{{trvw.label(node)}}</span>
                                                            <span ng-show="trvw.isSelected(node) == true"><mark>{{trvw.label(node)}}</mark></span>
                                                        </a>
                                                    </span>
                                                    <span ng-show="node.comparison.isNew == true">
                                                        <span class="text-success">
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        </span>
                                                    </span>
                                                    <small>
                                                        <span ng-show="node.comparison.haveDiffName == true">
                                                            <span class="text-primary">
                                                                <span class="glyphicon glyphicon-tag"></span>
                                                            </span>
                                                        </span>
                                                        <span ng-show="node.comparison.haveDiffDesc == true">
                                                            <span class="text-info">
                                                                <span class="glyphicon glyphicon-align-justify"></span>
                                                            </span>
                                                        </span>
                                                        <span ng-show="node.comparison.haveDiffPlaces == true">
                                                            <span class="text-warning">
                                                                <span class="glyphicon glyphicon-object-align-vertical"></span>
                                                            </span>
                                                        </span>
                                                    </small>
                                                </span>
                                                <div ivh-treeview-children ng-if="trvw.isExpanded(node)"></div>
                                            </div>
                                        </script>
                                    </div>
                                </div>
                                <hr/>
                                <small>
                                    <!--p ng-if="conceptTrees == null" class="text-muted"><i>No concept system imported</i></p>
                                    <hr /-->
                                    <p>
                                        <a href="#/systems/import" data-toggle="tooltip" title="Import Concept System" data-placement="bottom">
                                            <span class="glyphicon glyphicon-import" aria-hidden="true"></span> 
                                            Import Concept System
                                        </a>
                                    </p>
                                    <p>
                                        <a href="#/systems/export" data-toggle="tooltip" title="Export Concept System" data-placement="bottom">
                                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> 
                                            Export Concept System
                                        </a>
                                    </p>
                                    <!--p><span class="glyphicon glyphicon-export" aria-hidden="true"></span> <span class="text-muted">Download as Sparx EA Format</span></p>
                                    <p>
                                        <a ng-href="{{ conceptSystemJSONUrl }}" download="concept-system.json">
                                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                                            Download as Glossary Tool Format (JSON)
                                        </a>
                                    </p>
                                    <p>
                                        <a ng-href="{{ conceptSystemIGCXMLUrl }}" download="concept-system-igc.xml">
                                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                                            Download as IGC Glossary Format (XML)
                                        </a>
                                    </p-->
                                    <p>
                                        <a href="#/compare" data-toggle="tooltip" title="Compare Concept Sets" data-placement="bottom">
                                            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> 
                                            Compare Concept Sets
                                        </a>
                                    </p>
                                    <p>
                                        <a href="#/transform" data-toggle="tooltip" title="Transform a set of concepts" data-placement="bottom">
                                            <span class="glyphicon glyphicon-random" aria-hidden="true"></span> 
                                            Transform Concepts
                                        </a>
                                    </p>
                                </small>
                            </div>

                        </div>


                    </div>
                    <div class=" col-md-6 col-sm-12" ng-view>
                    </div>
                </div>
                </div>
		</div> <!-- /container -->

	</body>
	


</html>